{% extends "base.html" %}

{% block header %}{% endblock %}

{% block page_content %}
<section class="py-5">
	<div class="container">
		<h1>Games Played</h1>

		<ul class="pagination justify-content-center">
		{% for page in pagination.iter_pages(left_edge=1,left_current=2,right_current=2,right_edge=1) %}
			{% if page %}
				<li class="page_item">
					<a class="page-link" href="{{ url_for('games', page_num=page) }}">{{ page }}</a>
				</li>
			{% else %}
				<li class="page_item">
					<a class="page-link">...</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Date</th>
					<th scope="col">Game Number</th>
					<th scope="col">Outcome</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				{% for result in pagination.items %}
		    	<tr {% if result.Outcome.outcome == "Win" %}bgcolor="#bfcdff"{% endif %}>
		    		<td scope="row">{{ result.Player.name}}</th>
		    		<td>{{ result.Game.date.strftime('%Y/%m/%d')}}</td>
		    		<td>{{ result.Game.number}}</td>
		    		<td>{{ result.Outcome.outcome}}</td>
		    		<td>{{ result.Outcome.pts}}</td>
		    	</tr>
				{% endfor %}
			</tbody>
		</table>

		<ul class="pagination justify-content-center">
		{% for page in pagination.iter_pages(left_edge=1,left_current=2,right_current=2,right_edge=1) %}
			{% if page %}
				<li class="page_item">
					<a class="page-link" href="{{ url_for('games', page_num=page) }}">{{ page }}</a>
				</li>
			{% else %}
				<li class="page_item">
					<a class="page-link">...</a>
				</li>
			{% endif %}
		{% endfor %}
		</ul>

	</div>
</section>
{% endblock %}