{% extends "base.html" %}

{% block page_content %}
    <section class="py-5">
      <div class="container">
        <h1>Rivalries</h1>
        <h2> Amanda vs. Clayton <h2>
        <br>

        <h3> 1 v 1 Games </h3>
      	<table class="table">
			<thead>
				<tr>
					<th scope="col">Total Games</th>
					<th scope="col">Clayton Wins</th>
					<th scope="col">Amanda Wins</th>
					<th scope="col">Ties</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				{% for stat in stats1v1 %}
		    		<td scope="col">{{ stat }}</th>
				{% endfor %}
				</tr>
			</tbody>
		</table>
		<br>

		<h3> All 1v1 Games </h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Date</th>
					<th scope="col">Game #</th>
					<th scope="col">Outcome</th>
					<th scope="col">Pts</th>
				</tr>
			</thead>
			<tbody>
				{% for result in results %}
		    	<tr {% if result[0] == "Win" %}bgcolor="#d1dbff"{% endif %}>
		    		<td scope="row">{{ result[2]}}</th>
		    		<td>{{ result[4].strftime('%Y/%m/%d')}}</td>
		    		<td>{{ result[3]}}</td>
		    		<td>{{ result[0]}}</td>
		    		<td>{{ result[1]}}</td>
		    	</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
    </section>
{% endblock %}